@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body, input, .sort {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background:#f2f3f5;
}

#sandbox {
  margin: 0px;
  display:flex;
}
.sideb {
  flex:0 0 25%;
}

.listb {
  flex-grow:1;
  margin-left:50px;
}

input {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px;
  width: 100%;
  display:block;
}
input:focus {
  outline: none;
  border-color: #aaa;
}



.sort {
  padding: 8px 16px;
  border-radius: 0px;
  border: none;
  display: inline-block;
  color: #fff;
  vertical-align:top;
  text-decoration: none;
  background-color: #28a8e0;
  height: 36px;
  margin: 5px 5px;
}
.sort:hover {
  text-decoration: none;
  background-color: #1b8aba;
}
.sort:focus {
  outline: none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}
.sort .asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  position: relative;
  top: 13px;
  right: -5px;
}
.sort .desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}

.list {
  margin: 0;
  padding: 20px 0 0;
}
.list li {
  display: block;
  background-color: #fff;
  padding: 20px;
  box-shadow: inset 0 1px 0 #fff;
  margin-bottom: 20px;
}
.list li h3 {
  font-size: 24px;
  line-height:34px;
  margin:0 0 10px 0;
  font-weight: 600;
}

.list li a {
  text-decoration:none;
  color:#0c0c0c
}

.list li .jobType {
  margin: 0;
  background-color:rgba(43,91,167,.58);
  color:#fff;
  font-size: 12px;
  display:inline-block;
  padding:5px 10px;
}
.list li .jobLocation {
  margin: 0;
  padding:6px 10px;
  display:inline-block;
  border-left:1px solid #000;
  margin-left:10px;
}


.jscroll {
  height: 700px;
  overflow-y: scroll;
  border: 1px solid black;
}


.ccontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.ccontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.ccontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ccontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ccontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ccontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
select.location, .jobtypefilter {
      height: 35px;
    width: 250px;
    max-width:80%;
    padding: 5px;
    font-size: 16px;
}

.lpagignate {
  display:flex;
  align-items:center;
}

ul.pagination {
    list-style-type: none;
    margin-left: 0;
    padding-left:0;
    display: flex;
}

ul.pagination li {
    padding: 0px 5px;
    font-size:14px;
    font-weight:bold;
}

ul.pagination li a {
    color: inherit;
}

ul.pagination li.active a {
    color: rgba(43,91,167,1);
}

.page-arrow {
  font-size:20px;
  line-height:1;
  font-weight:bold;
  cursor:pointer;
  background:#fff;
  padding:5px 10px;
}

.bottomBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.left-part {
    flex-grow:1;
}
.mobFilter {
  display:none;
}

@media (max-width:768px) {
  #sandbox {
    display: block;
}
  .porpSection {
    display: none;
  }
  .porpSection.activeMob {
    position: fixed;
    display:block;
  }
  .mobFilter {
    display:block;
  }
  .listb {
   margin-left:0px;
}

.porpSection.activeMob {
    position: fixed;
    background: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 30px;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.2);
    z-index: 999;
    max-width: 85%;
    max-height:90%;
    display:block;
}



body.filterActive:after {
  content: "";
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 998;
}

body.filterActive {
  overflow:hidden;
}

 input.search {
   display: inline-flex;
   width: calc(100% - 60px);
   box-sizing: border-box;
}
.mobFilter {
    display: inline-flex;
    padding: 0 10px;
    box-sizing: border-box;
    width: 34px;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: #fff;
    border-radius: 5px;
    margin-left: 8px;
    cursor: pointer;
}

}

.xbutton {
  display:none;
}

.activeMob .xbutton {
    display:block;
    position: absolute;
    top: -35px;
    right: -35px;
    background: #fff;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 0;
}