<!DOCTYPE html>
{% load static %}
{# {% load staticfiles %}#}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masih Belajar</title>
    <script src="{% static 'js/script.js' %}"></script>
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">

</head>
<body>

<div id="sandbox">

  <div class="sideb">
    <h2 class="theme-color">Semantic Airlines</h2>
    <p class="text-large theme-color">Providing airline information just as your request!</p>
      <form action="{% url 'final_project:display_query_results' %}" method="post">

           {%  csrf_token %}

           <input class="search" placeholder="Search" id="airlineName" name="airlineName" />

        <button class="sort" data-sort="jobTitle">
            Search
            </button>

      </form>

    <div class="mobFilter"><i class="fas fa-sliders-h"></i></div>
{#    <div class="porpSection">#}
{#      <button class="xbutton">X</button>#}
{#      <div class="sortSection">#}
{#      <h3>Sort By:</h3>#}
{#      <button class="sort" data-sort="jobTitle">#}
{#    Sort by Job Title#}
{#  </button>#}
{#      <button class="sort" data-sort="datePosted">#}
{#    Sort by Date Posted#}
{#  </button>#}
{#    </div>#}
{#    <div class="filterSection">#}
{#      <div class="filter">#}
{#        <h3>Filter Opening by Location</h3>#}
{#        <select id="location-filter" class="location selectlist">#}
{#      <option selected="selected" value="">All Locations</option>#}
{#      <option value="Hyderabad">Hyderabad</option>#}
{#      <option value="Bengaluru">Bengaluru</option>#}
{#      <option value="Seattle">Seattle</option>#}
{#      <option value="Dubai">Dubai</option>#}
{#      <option value="London">London</option>#}
{#    </select>#}
{#      </div>#}
{#      <div class="filter">#}
{#        <h3>Filter Opening by Job Type</h3>#}
{#        <select id="type-filter" class="jobtypefilter selectlist">#}
{#      <option selected="selected" value="">All Job Types</option>#}
{#      <option value="Full Time">Full Time</option>#}
{#      <option value="Permanent">Permanent</option>#}
{#      <option value="Part Time">Part Time</option>#}
{#    </select>#}
{#      </div>#}
{#    </div>#}
  </div>
   </div>
  <div class="listb">
    <ul class="list" id="list">


    </ul>

  </div>
</div>

</body>
</html>