<!DOCTYPE html>
{% load static %}
{# {% load staticfiles %}#}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masih Belajar</title>
    <script src="{% static 'js/script.js' %}"></script>
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">

</head>
<body>

<div id="sandbox">

  <div class="sideb">
    <h2 class="theme-color">Semantic Airlines</h2>
    <p class="text-large theme-color">Providing airline information just as your request!</p>
    <form action="{% url 'final_project:display_query_results' %}"  method="post">

           {%  csrf_token %}

           <input class="search" placeholder="Search" id="airlineName" name="airlineName" />

        <button class="sort" data-sort="jobTitle">
            Search
            </button>

      </form>
    <div class="mobFilter"><i class="fas fa-sliders-h"></i></div>
{#    <div class="porpSection">#}
{#      <button class="xbutton">X</button>#}
{#      <div class="sortSection">#}
{#      <h3>Sort By:</h3>#}
{#      <button class="sort" data-sort="jobTitle">#}
{#    Sort by Job Title#}
{#  </button>#}
{#      <button class="sort" data-sort="datePosted">#}
{#    Sort by Date Posted#}
{#  </button>#}
{#    </div>#}
{#    <div class="filterSection">#}
{#      <div class="filter">#}
{#        <h3>Filter Opening by Location</h3>#}
{#        <select id="location-filter" class="location selectlist">#}
{#      <option selected="selected" value="">All Locations</option>#}
{#      <option value="Hyderabad">Hyderabad</option>#}
{#      <option value="Bengaluru">Bengaluru</option>#}
{#      <option value="Seattle">Seattle</option>#}
{#      <option value="Dubai">Dubai</option>#}
{#      <option value="London">London</option>#}
{#    </select>#}
{#      </div>#}
{#      <div class="filter">#}
{#        <h3>Filter Opening by Job Type</h3>#}
{#        <select id="type-filter" class="jobtypefilter selectlist">#}
{#      <option selected="selected" value="">All Job Types</option>#}
{#      <option value="Full Time">Full Time</option>#}
{#      <option value="Permanent">Permanent</option>#}
{#      <option value="Part Time">Part Time</option>#}
{#    </select>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
   </div>
  <div class="listb">
    <ul class="list" id="list">
        {%  if query_results|length > 0 %}
             {% for airline in query_results %}

                  <li href="http://google.com/" target="_blank" >

                  <a class = "applyyLink" href="{% url 'final_project:airline_detail' airline.url %}" target="_blank">
               <h3 class="jobTitle">{{ airline.name }}</h3>
                </a>

                 <div class="bottomBox">
              <div class="left-part">
                    <p class="jobType">IATA: </p>
                    <p class="jobLocation">{{ airline.iata }}</p>
                    <p class="jobType">ICAO: </p>
                    <p class="jobLocation">{{ airline.icao }}</p>
                </div>
               <div class="dateBox">
                   <p class="datePosted">Active:  {{ airline.isActive}}</p>
                </div>
            </div>



                 </li>
             {% endfor %}

        {%  endif %}


    </ul>
  {% if query_results.has_other_pages %}
    <div class="lpagignate">
        <span class="jPaginateBack page-arrow"><</span>
       <ul class="pagination">
    {% if query_results.has_previous %}
      <li><a href="?page={{ query_results.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in query_results.paginator.page_range %}
      {% if query_results.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if query_results.has_next %}
      <li><a href="?page={{ query_results.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
        <span class="jPaginateNext page-arrow">></span>
    </div>
  {% endif %}
  </div>
</div>


</body>
</html>